*{
    /* background-color: orange; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
}


/* h1{
    color: red;
} */

.Name > h1,
.Name > h2,
.Name > h3{
    color: green;
}

#Name > h1{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
}

/* p{
    color: red;
    background-color: aqua;
    background-image: url(./Assets/Spider-man.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.Boxes{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 50px;
    padding-top: 40px; */
    padding: 20px 40px 60px 80px;
    border: 10px solid black;
    border-radius: 5px;
    /* border-top: 10px solid green; */
    /* margin-left: 50px;
    margin-top: 70px; */
    margin: 10px 30px 50px 70px;
}

.box1{
   width: 200px;
   height: 100px;
   background-color: red;
   /* flex: 1; */
   order: 3;
}   

.box2{
   width: 200px;
   height: 100px;
   background-color: blue;
   /* flex: 1; */
   order: 2;
}  

.box3{
   width: 200px;
   height: 100px;
   background-color: green;
   /* flex: 1; */
   order: 1;
}  

.box4{
   width: 200px;
   height: 100px;
   background-color: yellow;
   /* flex: 1; */
}  

.box5{
   width: 200px;
   height: 100px;
   background-color: black;
   /* flex: 1; */
} 

.box6{
   width: 200px;
   height: 100px;
   background-color: crimson;
} 

.box7{
   width: 200px;
   height: 100px;
   background-color: coral;
} 

.box8{
   width: 200px;
   height: 100px;
   background-color: navy;
} 

.box9{
   width: 200px;
   height: 100px;
   background-color: forestgreen;
} 

.box10{
   width: 200px;
   height: 100px;
   background-color: grey;
} 

.box11{
   width: 200px;
   height: 100px;
   background-color: deeppink;
}

.box12{
   width: 200px;
   height: 100px;
   background-color: darkgrey;
}

.box13{
   width: 200px;
   height: 100px;
   background-color: firebrick;
}

/* .container{ */
   /* display: flex; */
   /* flex-direction: row; */
   /* justify-content: start; */
   /* height: 500px; */
   /* border: 5px solid hotpink; */
   /* align-items: start; */
   /* align-content: space-evenly; */
   /* flex-wrap: wrap; */
   /* gap: 10px; */
/* } */

.bluebox{
   width: 300px;
   height: 300px;
   background-color: blue;
   margin-top: 50px;
   position: relative;
   /* top: 40px; */
}

.yellowbox{
   width: 100px;
   height: 100px;
   background-color: yellow;
   position: sticky;
   /* left: 50px; */
   top: 0;
}

.para{
   background-color: red;
   padding: 20px;
   color: white;
}

.container{
   display: grid;
   grid-template-columns: repeat(3,minmax(200px,1fr));
}

.outerbox{
   display: grid;
   margin: 20px;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
   /* grid-auto-flow: column; */
}

.item{
   background-color: green;
   font-size: 50px;
   color: white;
   display: grid;
   justify-content: center;
   align-items: center;
}

.items1{
   /* grid-column-start: 1;
   grid-column-end: 4; */
   grid-column: span 3;
}

.items2{
   grid-row: span 3;
}

.layout > div{
   border: 1px solid black;
   background-color: coral;
   font-size: 50px;
   display: grid;
   justify-content: center;
   align-items: center;
}

.layout{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 10vh 80vh 10vh;
   grid-template-areas: 
   "h h h"
   "sb1 m sb2"
   "f f f";
}

.header{
   grid-area: h;
}

.sidebar1{
   grid-area: sb1;
}

.sidebar2{
   grid-area: sb2;
}

.main{
   grid-area: m;
}

.footer{
   grid-area: f;
}

.square{
   width: 300px;
   height: 300px;
   background-color: aqua;
   transition-duration: 5s;
   transition-delay: 3s;
   /* transition-property: background-color; */
   transition-timing-function: linear;
}

.square:hover{
   width: 600px;
   background-color: green;
   transform: translate(20px);
}

.boxes{
   width: 100px;
   height: 100px;
   background-color: coral;
   border-radius: 50%;
   animation-name: circle;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   position: relative;
}

@keyframes circle {
   50%{
      width: 300px;
      height: 300px;
      background-color: blue;
      left: 10px;
      top: 20px;
   }

   100%{
      width: 500px;
      height: 500px;
      background-color: yellow;
      top: 30px;
      left: 50px;
   }
}


@media screen and (max-width: 801px) {
   h1{
      color: green;
   }
}

@media screen and (max-width: 600px) {
   h2{
      background-color: red;
   }

   p{
      font-weight: bold;
      color: yellow;
      background-color: brown;
   }
}