*{
    /* background-color: orange; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    color: red;
}

.Name > h1,
.Name > h2,
.Name > h3{
    color: green;
}

#Name > h1{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
}

p{
    color: red;
    background-color: aqua;
    background-image: url(./Assets/Spider-man.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Boxes{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 50px;
    padding-top: 40px; */
    padding: 20px 40px 60px 80px;
    border: 10px solid black;
    border-radius: 5px;
    /* border-top: 10px solid green; */
    /* margin-left: 50px;
    margin-top: 70px; */
    margin: 10px 30px 50px 70px;
}

.box1{
   width: 200px;
   height: 100px;
   background-color: red;
   /* flex: 1; */
   order: 3;
}   

.box2{
   width: 200px;
   height: 100px;
   background-color: blue;
   /* flex: 1; */
   order: 2;
}  

.box3{
   width: 200px;
   height: 100px;
   background-color: green;
   /* flex: 1; */
   order: 1;
}  

.box4{
   width: 200px;
   height: 100px;
   background-color: yellow;
   /* flex: 1; */
}  

.box5{
   width: 200px;
   height: 100px;
   background-color: black;
   /* flex: 1; */
} 

.box6{
   width: 200px;
   height: 100px;
   background-color: crimson;
} 

.box7{
   width: 200px;
   height: 100px;
   background-color: coral;
} 

.box8{
   width: 200px;
   height: 100px;
   background-color: navy;
} 

.box9{
   width: 200px;
   height: 100px;
   background-color: forestgreen;
} 

.box10{
   width: 200px;
   height: 100px;
   background-color: grey;
} 

.box11{
   width: 200px;
   height: 100px;
   background-color: deeppink;
}

.box12{
   width: 200px;
   height: 100px;
   background-color: darkgrey;
}

.box13{
   width: 200px;
   height: 100px;
   background-color: firebrick;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: start;
   /* height: 500px; */
   /* border: 5px solid hotpink; */
   /* align-items: start; */
   /* align-content: space-evenly; */
   /* flex-wrap: wrap; */
   gap: 10px;
}